:host .language-selector {
  min-width: 65px;

  .p-select-label {
    padding: 2px;
  }
  .p-select-dropdown {
   width: 1.5rem;
    }
}

.flag-image {
  width: 24px;
  height: 18px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}