@import "primeicons/primeicons.css";
@import "tailwindcss";

@plugin "tailwindcss-primeui";
@custom-variant dark (&:is(.dark *));

:root {
  --color-agua: #1E3A5F;
  --color-madeira: #2D5A27;
  --color-fogo: #B45309;
  --color-terra: #78716C;
  --color-metal: #334155;
  --color-accent: #7C3AED;
}